body{
    font-family: 'Courier New', Courier, monospace;
    font-weight:5px;
    background-color:#17202A;
    margin: 0;
    padding: 0;
  }

header{
    position: fixed;
    background: #34495E;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.left_area h3{
    color: azure;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span{
    color:#17202A;
}
.logout_btn{
    padding: 5px;
    background: #566573;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: azure;
    transition: 0.5s;
    transition-property:background;
}

.logout_btn:hover{
    background:#17202A;
}

.sidebar{
    background: #566573;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}

.sidebar a{
    color: azure;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:background;  
}
.sidebar a:hover{
    background: #17202A;
}

.sidebar i {
    padding-right: 10px;
}

.content{
    margin-left: 300px;
    padding-top: 100px;
    height: 50px;
}
  h1{
    color:azure;
  }
  th, td{
    color:azure;
  }
  button{
    color: azure;
    border: 2px solid #34495E;
    background-color: #17202A;
  }
  a{
    color: azure;
  }
  form{
    color: azure;
  }
  input{
    background-color: #566573;
  }
  textarea{
    background-color: #566573;
    color: azure;
  }
  ::placeholder{
    color: azure;
  }
  input, select textarea{
    color: azure;
  }
  select, option{
    background-color: #566573;
    color: azure;
  }
