{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_Password").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
<h1>Add Group page</h1>
<form action="/adduser" method="POST">
    <label for="user-id">User ID *</label>
    <input type="text" id="User-id" name="user-id" value="User ID"placeholder="User ID" required><br><br>
    <label for="group-id">Group</label>
    <input type="text" id="group-id" name="group-id" value="group" placeholder="Group"><br><br>
    <label for="home-id">Home Directory</label>
    <input type="text" id="home-id" name="home-id" value="home" placeholder="home"><br><br>
    <label for="shell-id">Shell</label>
    <input type="text" id="shell-id" name="shell-id" value="shell" placeholder="shell"><br><br>
    <label for="password">Password *</label>
    <input type="password" id="password" name="password" value="password" placeholder="password"><br><br>
    <label for="confirm_password">Confirm Password *</label>
    <input type="password" id="confirm_password" name="confirm_password" value="confirm_password" placeholder="Confirm password"><br><br>    
    <label for="public-key">Public Key:</label><br>
    {% if pkey == True %}
        <textarea name="public-key" style="width:400px; height: 300px;">{{ pkey }}</textarea><br>
    {% else %}   
        <button type="submit" style="width:400px; height: 300px;" name="generate" value="{{ user }}">Generate Public Key</button>
    {% endif%}
    <br>
    <button type="submit" value="Save" onclick="return Validate()">Save</button>
</form>
<a href="{{ url_for('listg', id=user)}}" type="submit"><button value="{{ user }}">Cancel</button></a><br><br>
<form action="/download" method="POST">
    <button type="submit" name="pkey" value="{{ user }}">Download Public Key</button>
</form>

<button type="submit" value="Save" onclick="return Validate()">Save</button>
{% endblock content %}