{% extends "layout.html" %}
{% block content %}

<h1>Add Scheduler</h1>

<form action="/addsch" method="POST">
    <fieldset>
        <legend>Add</legend>
        <label for="task">Select Task</label>
        <select id="task" name="task">
          {% for i in all%}
          <option value="{{i['jobname']}}">{{i['jobname']}}</option>
          {% endfor %}
        </select><br><br>
        <label for="schname">Scheduler Id</label>
        <input type="text" name="schname"><br><br>
        <table >
            <tr>
                <th>Minute (0-59)</th>
                <th>Hour (0-23)</th>
                <th>Day Of Month (1-31)</th>
                <th>Month (1-12)</th>
                <th>Day of Week (0-6)</th>
            </tr>
            <tr>
                <td><input type="text" name="minute"></td>
                <td><input type="text" name="hour" ></td>
                <td><input type="text" name="day" ></td>
                <td><input type="text" name="month" ></td>
                <td><input type="text" name="day_of_week" ></td>
            </tr>
        </table><br>
        <input type="submit" value="Add">
        <button type="reset">Cancel</button>
    </fieldset>
</form>
{% endblock content %}