{% extends "layout.html" %}
{% block content %}
<h1>Add task</h1>
<button><a href="{{ url_for('show_task')}}">Show All Task</a></button><br><br>
<fieldset>
    <form action="/addtask" method="POST"> 
        <label for="Jobname">Job Name:</label>
        <input type="text" id="Jobname" name="jobname"><br><br>
        <label for="Job_create_by">Job Created by:</label>
        <input type="text" id="Job_create_by" name="jobuser"><br><br>
        <label for="Remote_host_ip">Dis Host:</label>
        <input type="text" id="dishost" name="dishost"><br><br>
        <label for="remotedir">Remote Dir:</label>
        <input type="text" id="remotedir" name="remotedir"><br><br>
        <label for="localdir">Local Dir:</label>
        <input type="text" id="localdir" name="localdir" ><br><br>
        <label for="archive">Archive Dir:</label>
        <input type="text" id="archive" name="archive"><br><br>
        <label for="fileext">File ext:</label>
        <input type="text" id="fileext" name="fileext" ><br><br>
        <label for="port">Port:</label>
        <input type="text" id="port" name="port" ><br><br>
        <label for="username">User name:</label>
        <input type="text" id="username" name="username" ><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" ><br><br>
        <label for="send">Task method: </label>
        <select id="send" name="method">
            <option value="put">Put</option>
            <option value="get">Get</option>
        </select><br><br>
        <input type="submit" value="Add"> 
        <button type="reset">Cancel</button>
    </form>
</fieldset>
{% endblock content %}