{% extends "layout.html" %}
{% block content %}
<h1>Add user page</h1>
<form action="/adduser" method="POST">
    <label for="user-id">User ID *</label>
    <input type="text" id="User-id" name="user-id" placeholder="--User ID--" required><br><br>
    <label for="dec-id">Description</label>
    <input type="text" id="dec-id" name="dec-id" value="None"><br><br>
    <label for="password">Password *</label>
    <input type="password" id="password" name="password" placeholder="Password" oninput="setPasswordConfirmValidity();" required><br><br>
    <label for="confirm_password">Confirm Password *</label>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" oninput="setPasswordConfirmValidity();" required><br><br>
    <label for="login">Enable Login</label>
    <input type="checkbox" id="login" name="login" value="login"><br><br>
    <br>
    <button type="submit" value="Save" onclick="return Validate()">Add</button>
    <button type="reset">Cancel</button>
</form>
{% endblock content %}