{% extends "layout.html" %}
{% block content %}
<h3>Edit Group:{{ user }} </h3>
<form>
    <label for="jial-dir">Jial Directory</label> 
    <input type="text" id="jial-dir" name="jial-dir" value="{{ home }}">
    <button type="submit" value="Save">Save</button>
    <button type="submit" value="Cancel">Cancel</button>
</form>

<form>
    <label for="current-users">Current Users in the Group</label>
    <select id="current-users" name="current-users" multiple>
        <option value="{{ user }}">{{ user }}</option>
    </select>
</form>

<!--<form action="/egroup" method="POST">

    <label for="user-id">User ID</label>
    <input type="text" id="User-id" name="user-id" value="{{ user }}"placeholder="{{ user }}"><br><br>
    <label for="group-id">Group</label>
    <input type="text" id="group-id" name="group-id" value="{{ group }}" placeholder="{{ group }}"><br><br>
    <label for="home-id">Home Directory</label>
    <input type="text" id="home-id" name="home-id" value="{{ home }}" placeholder="{{ home }}"><br><br>
    <label for="shell-id">Shell</label>
    <input type="text" id="shell-id" name="shell-id" value="{{ shell }}" placeholder="{{ shell }}"><br><br>
    <label for="pw-id">Password</label>
    <input type="password" id="pw-id" name="pw-id" value="{{ pw }}" placeholder="XXXXXXXX"><br><br>  
    <br>
    <input type="submit" value="Save">
</form> 
<a href="{{ url_for('index')}}" type="submit"><button>Cancel</button></a><br><br>

<form action="/genkey" method="POST">
    <label for="public-key">Public Key:</label><br>
    {% if pkey == True %}
        <textarea name="public-key" style="width:400px; height: 300px;">{{ pkey }}</textarea><br>
    {% else %}   
        <button type="submit" style="width:400px; height: 300px;" name="generate" value="{{ user }}">Generate Public Key</button>
    {% endif%}
</form>
<form action="/download" method="POST"><button type="submit" name="pkey" value="{{ user }}">Download Public Key</button></form>-->

{% endblock content %}