{% extends "layout.html" %}
{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
<h1>Edit Scheduler</h1>
<form action="/esch/{{id}}" method="POST" style="width:100%">
    <fieldset>
        <legend>{{id}}</legend>
        <table >
            <tr>
                <th>Minute (0-59)</th>
                <th>Hour (0-23)</th>
                <th>Day Of Month (1-31)</th>
                <th>Month (1-12)</th>
                <th>Day of Week (0-6)</th>
            </tr>
            <tr>
              {% for b in all %}
                <td><input type="text" name="minute" value="{{b['minute']}}"></td>
                <td><input type="text" name="hour" value="{{b['hour']}}"></td>
                <td><input type="text" name="day" value="{{b['day']}}"></td>
                <td><input type="text" name="month" value="{{b['month']}}"></td>
                <td><input type="text" name="day_of_week" value="{{b['day_of_week']}}"></td>
              {% endfor%}
            </tr>
            
        </table><br>
        <input type="submit" value="Save">
        <button type="reset">Cancel</button>
    </fieldset>
</form>
{% endblock content %}