{% extends "layout.html" %}
{% block content %}
<h1>Edit Task ID: {{all['jobname']}}</h1>
<!-- <fieldset>
    <form action="/edit-task/{{ all['id']}}" method="POST">
        <label for="jobname">Job Name:</label>
        <input type="text" id="jobname" name="jobname" value="{{ all['jobname'] }}"><br><br>
        <label for="jobuser">Job Created by:</label>
        <input type="text" id="jobuser" name="jobuser" value="{{ all['jobuser'] }}"><br><br>
        <label for="dishost">Dis Host:</label>
        <input type="text" id="dishost" name="dishost" value="{{ all['dishost'] }}"><br><br>
        <label for="remotedir">Remote Dir:</label>
        <input type="text" id="remotedir" name="remotedir" value="{{ all['remotedir'] }}"><br><br>
        <label for="localdir">Local Dir:</label>
        <input type="text" id="localdir" name="localdir" value="{{ all['localdir'] }}"><br><br>
        <label for="fileext">File ext:</label>
        <input type="text" id="fileext" name="fileext" value="{{ all['fileext'] }}"><br><br>
        <label for="port">Port:</label>
        <input type="text" id="port" name="port" value="{{ all['port'] }}"><br><br>
        <label for="username">User name:</label>
        <input type="text" id="username" name="username" value="{{ all['username'] }}"><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" value="{{ all['password'] }}"><br><br>
        <label for="id">Job ID:</label>
        <input type="text" id="id" name="id" value="{{ all['id'] }}"><br><br>
        <input type="submit" value="Save">
        <button type="reset">Cancel</button>
    </form>
</fieldset> -->
<form action="/edit-task/{{all['jobname']}}" method="POST">
    {% for i, b in all.items()%}
        <label for="{{i}}">{{i}}</label>
        <input type="text" id="{{i}}" name="{{i}}" value="{{b}}"><br><br>
    {% endfor%}
    <input type="submit" value="Save">
    <button type="reset">Cancel</button>
</form>
{% endblock content %}