{% extends "layout.html" %}
{% block content %}
<h1>Edit User</h1>
<form action="/deluser" method="POST"><button type="submit" name="deluser" value="{{ user }}">Delete User</button></form><br><br>
<form action="/euser" method="POST">
    <fieldset>
        <legend><h4>User:{{ user }} </h4></legend>
        <label for="user-id">User ID</label>
        <input type="hidden" id="User-id" name="user-id" value="{{ user }}">
        <input type="text" value="{{ user }}" disabled><br><br>
        <label for="dec-id">Description</label>
        <input type="text" id="dec-id" name="dec-id" value="{{ dec }}" ><br><br>
        <label for="home-id">Home Directory</label>
        <input type="text" id="home-id" name="home-id" value="{{ home }}" disabled><br><br>
        <label for="login">Enable Login</label>
        {% if shell == "/sbin/nologin" %}
        <input type="checkbox" id="login" name="login" value="login"><br><br>
        {% else %}
        <input type="checkbox" id="login" name="login" value="login" checked><br><br>
        {% endif %}
        <input type="submit" value="Save">
        <button type="reset">Cancel</button>
    </fieldset>
</form><br><br>

<form action="/cpassword" method="POST">
    <fieldset>
        <legend><h4>Reset Password</h4></legend>
        <input type="hidden" id="user" name="user" value="{{ user }}">
        <label for="password">Password *</label>
        <input type="password" id="password" name="password" placeholder="Password" oninput="setPasswordConfirmValidity();" required><br><br>
        <label for="confirm_password">Confirm Password *</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" oninput="setPasswordConfirmValidity();" required><br><br>
        <input type="submit" value="Reset">
        <button type="reset">Cancel</button>
    </fieldset> 
</form><br><br>


<form action="/genkey" method="POST">
    <fieldset>
        <legend><h4><label for="public-key">Public Key:</label></h4></legend>
        {% if pkey == False %}
            <button type="submit" style="width:400px; height: 300px;" name="genkey" value="{{ user }}">Generate Public Key</button>
        {% else %}   
            <textarea name="public-key" style="width:400px; height: 300px;">{{ pkey }}</textarea><br>
        {% endif%}
</form><br>
{% if pkey == False %}
    <form action="/download-key" method="POST"><button type="submit" name="pkey" value="{{ user }}" disabled>Download Public Key</button></form>
{% else %}
    <form action="/download-key" method="POST"><button type="submit" name="pkey" value="{{ user }}">Download Public Key</button></form>
{% endif %}
</fieldset>
{% endblock content %}