<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
    <title>FTP</title>
    {% endif %}
    <script>
      function setPasswordConfirmValidity(str) {
          const password = document.getElementById('password');
          const confirm_password = document.getElementById('confirm_password');
  
          if (password.value === confirm_password.value) {
            confirm_password.setCustomValidity('');
          } else {
            confirm_password.setCustomValidity('Passwords must match');
          }
          console.log('confirm_password customError ', document.getElementById('confirm_password').validity.customError);
          console.log('confirm_password validationMessage ', document.getElementById('confirm_password').validationMessage);
      }
  </script>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <style>
        
      </style>
</head>
<header>
  <div class="left_area">
    <h3>send4you<span>ftp</span></h3>
  </div>
  {% if session.username %}
  <div class="left_area">
    <!-- <a href="#" class="logout_btn">Logout</a> -->
    <form action="/logout" method="post"><input type=submit value="Logout" class="logout_btn"></form>
  </div>
  {% endif %}

</header>

<body>
  {% if session.username %}
  <div class="sidebar">
    <a href="{{ url_for('home')}}"><i class="fas fa-desktop"></i><span>Home</span></a>
    <a href="{{ url_for('user')}}"><i class="fas fa-desktop"></i><span>User</span></a>
    <a href="{{ url_for('show_task')}}"><i class="fas fa-desktop"></i><span>Task</span></a>
    <a href="{{ url_for('showsch')}}"><i class="fas fa-desktop"></i><span>Scheduler</span></a>
    <a href="#"><i class="fas fa-desktop"></i><span>Setting</span></a>
  </div>
  {% endif %}
  <div class="content">{% block content %}{% endblock %}</div>
  
</body>
</html>