{% extends "layout.html" %}
{% block content %}
    <form action="/login" method="post">
        <p><label for="fname">User Name:</label>
        <p><input type=text name=username>
        <p><label for="lpassword">Password:</label>
        <p><input type=password name=password>
        <p><input type=submit value=Login>
    </form>
{% endblock content %}