{% extends "layout.html" %}
{% block content %}
<h1>Show all Scheduler</h1>
<button><a href="{{ url_for('addsch')}}">Add</a></button><br><br>
    <fieldset>
      <table>
        <tr>
          <th>Task Name</th>
          <th>Schedule Id</th>
          <th>Next run time</th>
          <th>Status</th>
          <th>Change Status</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        {%for i in joblist%}
        <tr>
          <td>{{i['args']}}</td>
          <td>{{i['id']}}</td>
          <td>{{i['next_run_time']}}</td>
          {% if i['next_run_time'] != None %}
            <td><h5 style="color: green;">Running</h5></td>
            <td><form action="/cschstatus/{{i['id']}}" method="POST"><button type="submit" name="stop" value="stop">Stop</button></form></td>
            {% else %}
            <td><h5 style="color:red;">Stop</h5></td>
            <td><form action="/cschstatus/{{i['id']}}" method="POST"><button type="submit" name="start" value="start">Start</button></form></td>
          {%endif %}
          <td><button><a href="{{ url_for('esch', id=i['id'])}}">Edit</a></button></td>
          <td><form action="/delsch/{{i['id']}}" method="POST"><button type="submit" name="delete" value="delete">Delete</button></form></td>
        </tr>
        {%endfor%}
      </table>
    </fieldset>
{% endblock content %}