{% extends "layout.html" %}
{% block content %}
<h1>ALL Task</h1>
<button><a href="{{ url_for('addtask')}}">Add</a></button><br><br>
    <fieldset>
        <table>
            <tr>
                <th>Job Name</th>
                <th>Job Created By</th>
                <th>Destination Host</th>
                <th>Remote Directory</th>
                <th>Local Directory</th>
                <th>Archive Directory</th>
                <th>File Extension</th>
                <th>Port</th>
                <th>User Name</th>
                <th>Passsword</th>
                <th>Method</th>
                <th>Change</th>
                <th>Delete</th>
            </tr>
            {% for i in all %}
            <tr>
                <td>{{i['jobname']}}</td>
                <td>{{i['jobuser']}}</td>
                <td>{{i['dishost']}}</td>
                <td>{{i['remotedir']}}</td>
                <td>{{i['localdir']}}</td>
                <td>{{i['archive']}}</td>
                <td>{{i['fileext']}}</td>
                <td>{{i['port']}}</td>
                <td>{{i['username']}}</td>
                <td>{{i['password']}}</td>
                <td>{{i['method']}}</td>
                <td><button><a href="{{ url_for('edit_task', id=i['jobname'])}}">Edit</a></button></td>
                <td><form action="/deltask" method="POST"><button type="submit" name="jobname" value="{{ i['jobname'] }}">Delete</button></form></td>
            </tr>
            {%endfor%}
        </table><br>
    </fieldset>
{% endblock content %}