{% extends "layout.html" %}
{% block content %}
    <h1>User Management page</h1> 
    <form action="/adduser" method="GET"><button><a href="{{ url_for('adduser')}}"></a>Add User</button></form>
    <form action="/euser" method="POST">
        <table>
            <tr>
                <th>Users ID</th>
                <th>Description</th>
            </tr>
            <div>
                {% for u in user %}
                <tr>
                    {% if u[2] >= 1000 %} 
                        <td ><a href="{{ url_for('listu', id=u[0])}}">{{ u[0] }}</a></td>
                        <td>{{ u[4] }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </div>

        </table>
    </form>
    <!-- <form action="/addgroup" method="GET"><button disabled><a href="{{ url_for('addgroup')}}"></a>Add Group</button></form>
    <form action="/egroup" method="POST">
        <table>
            <tr><th>Groups</th></tr>
            {% for g in group %}
            <tr>
                {% if g[2] > 1000 %}
                    <td>
                        <a disabled href="{{ url_for('listg', id=g[0])}}">{{ g[0] }}</a>
                        <a disabled href="#">{{ g[0] }}</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </form> -->
{% endblock content %}